
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background: rgb(120,238,255);
    background: linear-gradient(180deg, rgba(120,238,255,1) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 50%, rgba(120,238,255,1) 100%);
}
.encabezado{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedorFoto{
    background: rgb(120,238,255);
    /* background-color: black; */
    height: 148px;
    width: 148px;
    border-radius: 50%;
    margin: 10px;
} 
.contenedorFoto img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px 3px black;
    object-fit: cover;
    
}
.fullName h1{
    text-align: center;
}
.mainLogoContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.mainLogo{
    height: 230px;
    width: 230px;

}
.fullName .ola{
    text-shadow:
    -1.5px -6.5px 0 #282c34,
    1.5px -1.5px 0 black,
    1.5px 1.5px 0 black,
    -1.5px 1.5px 0 black !important;
}
.puesto .ola{
    text-shadow:
    -1.5px -1.5px 0 black,
    1.5px -1.5px 0 black,
    1.5px 1.5px 0 black,
    1.5px 7.5px 0 #282c34 !important;
}
/* exlateral */
.contenidoLateral{
    margin: 0 30px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenidoLateral div{
    width: 300px;
}
.contenidoLateral p{
    margin: 15px;
}
.contenidoLateral ul li{
    list-style-type: none;
}
.btnContact{
    border: 1px solid black;
    border-radius: 10px;
    padding: 3px;
    color: black;
    box-shadow: 0px 0px 2px 1px black;
    background-color: rgba(0, 89, 255, 0.548);
    font-weight: bold;
    color: white;
    display: inline-block;
}
.btnContact:hover{
    background-color: white;
    color:blue;
    transform: scale(1.1) translateY(-3px);
    transition: .3s;
}

/* CONTENIDO DINAMICO DESTACADO */
.destacado{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    align-content: center;
    align-self: center;
    justify-self: center;
}
.destacado li{
    margin-left: 30px;
}
.destacado h3{
    margin-top: 20px;
    margin-left: -15px;
}
.itemLogoContainer{
    background-color: black;
    display: flex;
    justify-content: center;
    height: 23vw;
    width: 100%;
}
.logoContainer{
    height: 75%;
}
.itemLogo{
    height: 100%;
    width: 19vw;
    min-width: 70px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.parrafoLogo{
    font-size: 11px;
    text-align: center;
    color: white;
    width: 100%;
}
.contenedorConceptos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.concepto{
    background-color: #282c34;
    width: 100%;
    padding-bottom: 20px;
}

.concepto h3{
    text-align: center;
    margin-bottom: 20px;
}
.concepto h4{
    margin: 5px 0 10px 10px;
}
.concepto ul{
    margin: 0px 0 10px 10px;
}



a{
    color: rgb(120,238,255);
    margin-left: 7px;
    text-decoration-line: none;
}
.contenedorConceptos li{
    line-height: 1.8;
}
.concepto a:hover{
    color: orange;
    text-shadow: 0 0 1px black;
}
.concepto a::after{
    content: " >>>";
    animation: destello 4s infinite alternate;
}
@keyframes destello{
    from{
        width: 10%; 
        opacity: .1;
    }
    to{
        width: 0;
        opacity: 1;
    }
}
.concepto a{
    animation-name: aparicion;
    animation-delay: .1s;
    animation-duration: 4s;
}
@keyframes aparicion{
    0%{opacity: 0;}
    30%{opacity: .0;}
    70%{opacity: .7;}
    100%{opacity: 1;}
}
.itemLogo{
    background-color: black;
    border: none;
}

.itemLogo:hover, .itemLogo:focus{
    background-color: #282c34;
    outline: none;
}

.itemLogo:focus-visible{
    background-color: #282c34;

}
/* puesto: FRONTED REACT JS */
.puesto{
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 40px;
    font-size: 1.5em;
    text-align: center;
}

/* nombre */
.mobileName{
    font-size: 22px;
}
.desktopName{
    display: none;
}

/* maquina de escribir */
.maquina{
    position: relative;
}
.maquina::after{
    content: "";
    background-color: #282c34;
    right: 0;
    height: 100%;
    position: absolute;
    animation: maquinaEscribir 3s alternate steps(70);

}
@keyframes maquinaEscribir{
    from{
        width: 100%;
    }
    to{
        width: 0;
    }
}
.salto{
    display: inline-block;
}


/* .... */
/* .... */
/* .... */
/* .... */
/* .... */
/* .... */
/* .... */
/* .... */
/* .... */
/* .... */
/* .... */
/* .... */
/* .... */

/* RESPONSIVE--------------------- */
@media only screen and (min-width:600px){
    .puesto{
        font-size: 4vw;
    }
    .mobileName{
        display: none;
    }
    .desktopName{
        display: block;
        font-size: 26px;
    }
    .mainLogoContainer{
        margin-top: 60px;
    }
    .contenidoLateral{
        flex-direction: row;
        justify-content: center;
        margin-top: 30px;
        padding: 40px 0;
    }
    .parrafoLogo{
        font-size: 16px;
    }
    /* CONTENIDO DINAMICO RESPONSIVE */
    .itemLogoContainer{
        height: 20vw;
    }
    .logoContainer{
        margin-top: 10px;
    }
}

@media only screen and (min-width:1000px){
    .puesto{
        font-size: 40px;
    }
    .desktopName{
        font-size: 30px;
    }
    .concepto{
        font-size: 20px;
    }


}






